.main {
	min-height: 100vh;
	max-width: 110rem;
	margin: 0 auto;
	padding-top: 3.6rem;
}

@media (max-width: 75em) {
	.main {
		padding: 3.6rem 2.4rem 0;
	}
}

@media (max-width: 62.5em) {
	.main {
		padding: 3.6rem 4rem 0;
	}
}
@media (max-width: 56.25em) {
	.main {
		padding: 3.6rem 2.4rem 0;
	}
}

.cardList-grid {
	display: flex;
	gap: 2.7rem;
	flex-wrap: wrap;
}

@media (max-width: 75em) {
	.cardList-grid {
		gap: 4.5rem;
	}
}

@media (max-width: 56.25em) {
	.cardList-grid {
		gap: 4rem;
	}
}

.card-list {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	flex-wrap: wrap;
}

.item__container {
	position: relative;
}
.slider {
	display: none;
}
@media (max-width: 37.5em) {
	.cardList-grid {
		white-space: nowrap;
		flex-wrap: nowrap;
		gap: 2rem;
	}
}
