.main {
	min-height: 100vh;
	max-width: 110rem;
	margin: 0 auto;
	padding-top: 3.6rem;
}

@media (max-width: 75em) {
	.main {
		padding: 3.6rem 2.4rem 0;
	}
}

@media (max-width: 62.5em) {
	.main {
		padding: 3.6rem 4rem 0;
	}
}
@media (max-width: 56.25em) {
	.main {
		padding: 3.6rem 2.4rem 0;
	}
}

.item__container {
	position: relative;
}
