.progressBar {
	display: flex;
	height: 3.6rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.progressBar__left {
	background-color: var(--color-green-positive);
	flex-basis: 25.5%;
}

.progressBar__right {
	background-color: var(--color-yellow-negative);
	flex-basis: 74.5%;
}
