.banner {
	position: relative;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--color-light-gray);
	gap: 2rem;
}
.banner__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
	opacity: 0.2;
	pointer-events: none;
}

.banner-top .banner__left {
	padding-left: 1rem;
}

.banner-top .banner__left > .banner__hairline {
	color: var(--color-dark-gray);
	font-size: 1.8rem;
	font-weight: lighter;
	letter-spacing: -0.07rem;
}

.banner-top .banner__left > .banner__title {
	display: block;
	color: var(--color-dark-gray);
	font-size: 2.7rem;
	font-weight: 700;
	letter-spacing: -0.05rem;
}

.banner-top .banner__right {
	flex: 1;
}

.banner-top .banner__text {
	margin: 0;
	color: var(--color-dark-gray);
	font-size: 1.8rem;
	font-weight: lighter;
	letter-spacing: -0.05rem;
}
